# Environment Variables
.env
**/.env
**/.env.template

# Virtual Environment Directories
venv/
env/
.venv/
ENV/
**/venv/


# VSCODE Configuration Files
.vscode

# Copilot Instructions
.github/copilot-instructions.md

# Weather MCP Server App
weather/

.DS_S